/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f4f8;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  /* max-width: 800px; */
  margin-top: auto;
  width: 100%;
}

h1 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 10px;
  
}

.subheading {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 20px;
}

/* Form Layout - Horizontal */
.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.form-group {
  flex: 1 1 30%;
  min-width: 150px;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  /* margin-bottom: 6px; */
  color: #34495e;
  display: block;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccd1d9;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #3498db;
  outline: none;
}

textarea {
  height: 80px;
  resize: none;
}

/* Button */
.submit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}

.submit-button:active {
  background-color: #1e7e34;
}

/* Success Message */
.success-message {
  background-color: #d4edda;
  color: #155724;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.success-message h2 {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

/* Checkbox Group */
.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
}

.checkbox-group input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
}

.checkbox-group a {
  color: #007bff;
  text-decoration: none;
}

.checkbox-group a:hover {
  text-decoration: underline;
}
